{% if include_dependabot %}version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "direct"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
{% if use_devcontainer %}  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: "monthly"
{% endif %}{% endif %}
