# {{ project_name }}

{% include 'template_parts/readme_common.md.jinja' %}

{% if use_nbdev %}> NOTE: This README will be overwritten by nbdev (from `nbs/index.ipynb`). Edit notebook content (or the shared partial) instead.
{% endif %}