{# Quarto configuration for nbdev sites and README rendering. #}
{% if use_nbdev -%}
project:
  type: website
  preview:
    port: 3000
    browser: true
  output-dir: ../_docs

website:
  title: "{{ project_name }}"
  description: "{{ description }}"
  site-url: "https://{{ github_user }}.github.io/{{ repo_name }}/"
  repo-url: "https://github.com/{{ github_user }}/{{ repo_name }}"
  repo-actions: [issue, edit]
  sidebar:
    style: floating
    search: true
    contents:
      - text: Home
        href: index.ipynb

format:
  html:
    theme: cosmo
    toc: true
    number-sections: false
{% endif -%}
